{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section id="section-login" class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">{% trans %}Email{% endtrans %}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{% trans %}Email{% endtrans %}" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                           >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <div class="form-group text-right">
                    <button class="btn btn-lg btn-primary" type="submit">
                        {% trans %}Sign in{% endtrans %}
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
