{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        {{ include('elements/banner.html.twig',{'banner_title':'Title of a longer featured blog post','banner_description':'Multiple lines of text that form the lede, informing new readers quickly and efficiently about what\'s most interesting in this post\'s contents.'}) }}
        <div class="row mb-2">
            {% for post in posts %}
                <div class="col-md-6">
                    {{ include('elements/post.html.twig',{'post':post}) }}
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}
