{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section id="section-register" class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <h1>{% trans %}Register to service{% endtrans %}</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.password.first) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.password.second) }}
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-lg btn-primary">{% trans %}Register{% endtrans %}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
