<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{banner_title}}</h1>
        <p class="lead my-3">{{banner_description}}</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">{%trans%}Continue reading{%endtrans%}</a></p>
    </div>
</div>