<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Large</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            {% if user %}
            <a class="btn btn-sm btn-outline-secondary" href="/logout">{%trans%}Sign OUT{%endtrans%}</a>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="/register">{%trans%}Sign UP{%endtrans%}</a>
                <a class="btn btn-sm btn-outline-secondary" href="/login">{%trans%}Sign IN{%endtrans%}</a>
            {% endif %}
        </div>
    </div>
</header>