<div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">{{post.getCategories().getName()}}</strong>
        <h3 class="mb-0">
            <a class="text-dark" href="#">{{post.getTitle()}}</a>
        </h3>
        <div class="mb-1 text-muted">{{post.getCreateDate().format('Y-m-d H:i')}}</div>
        <p class="card-text mb-auto">{{post.getDescription()}}</p>
        <a href="#">{%trans%}Continue reading{%endtrans%}</a>
    </div>
    <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
</div>